<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
      </button>
    <ion-title>{{ 'LIST_CLIENT_TITLE' | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="addClient()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding *ngFor="let item of currentClients">
      <button ion-item (click)="openClient(item)">
        <ion-avatar item-start>
            <img [src]="clientIcon" />
        </ion-avatar>
        <h2>{{item.name}}</h2>
        <p>{{item.age}}</p>
        <!-- <ion-note item-end *ngIf="item.note">{{item.note}}</ion-note> -->
      </button>

      <ion-item-options>
        <button ion-button color="info" (click)="updateClient(item)">
          {{ 'UPDATE_BUTTON' | translate }}
        </button>
        <button ion-button color="danger" (click)="deleteClient(item)">
            {{ 'DELETE_BUTTON' | translate }}
          </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>